*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 231, 231);
}

.container{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
    position: relative;
    background-color: rgb(218, 205, 205);
    width: 500px;    
    border-radius: 5px;
    height: 550px;
    margin: 5vh auto;
    padding: 5px;
}

.container__input{
    position: absolute;
    display: flex;
    justify-content: space-between;    
    width: 490px;
    margin: 0 auto; 
    top: 10px;   
    right: 0;
    left: 0;
    height: 50px;
    padding: 5px;
}

.container__input--form,.container__input--previous{
    border-radius: 3px;    
    height: 40px; 
}

.container__input--form{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
    width: 350px;
    font-size: 28px; 
    padding-left: 5px;
}

.container__input--previous{
    text-shadow: 2px 0px 2px rgba(150, 150, 150, 1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
    cursor: pointer;
    color: wheat;
    transition: all 0.2s;
    width: 120px;
    padding: 8px 48px;
    background-color: rgb(241, 212, 83);
}

.container__dights,.container__controlPanel{
    text-shadow: 2px 0px 2px rgba(150, 150, 150, 1);
    color: wheat;
    position: absolute;
    display: grid;
    bottom: 5px;
    height: 480px;    
    grid-gap: 5px;
    padding: 5px;   
}

.container__dights{
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
}

.container__controlPanel{
    width: 180px;
    right: 5px;
    grid-template-columns: repeat(2, 1fr);
}

.container__dights--dight,.container__controlPanel--action{ 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);   
    width: 90px;
    height: 90px;
    border-radius: 3px;
    margin: 0 auto; 
    background-color: rgb(255, 190, 105);
    cursor: pointer;
    transition: all 0.25s;
}
.container__dights--dight{
    padding: 34px;
}

.container__controlPanel--action{
    width: 80px;
    padding: 30px;
}

.container__dights--dight:nth-child(12){
    padding: 34px 19px;
}

.container__dights--dight:nth-child(10){
    padding: 37px;
}

.container__controlPanel--action:last-child{
    width: 170px;
    grid-area: 5/1/6/3;
    padding: 35px 81px; 
}
.container__controlPanel--action:nth-child(4),.container__controlPanel--action:nth-child(5),
.container__controlPanel--action:nth-child(6),.container__controlPanel--action:nth-child(7){
    padding: 32px 38px;
}
span{    
    font-weight: bold;
}

.container__dights--dight:active,.container__controlPanel--action:active,.container__input--previous:active{
    color: black;
    background-color: rgb(241, 212, 83, .5);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.material-icons.md-18{
    font-size: 10px;
}